Package: io.github.samuelyeungkc
Name: TapID
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Supercharge TouchID Sensor!
Maintainer: Samuel Yeung
Author: Samuel Yeung
Section: Tweaks
